.site-footer
{
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}
.site-footer hr
{
    border-top-color:#bbb;
    opacity:0.5
}
.site-footer hr.small
{
    margin:20px 0
}
.site-footer h6
{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}
.site-footer a
{
    color:#737373;
}
.site-footer a:hover
{
    color:#3366cc;
    text-decoration:none;
}
.footer-links
{
    padding-left:0;
    list-style:none
}
.footer-links li
{
    display:block
}
.footer-links a
{
    color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
    color:#3366cc;
    text-decoration:none;
}
.footer-links.inline li
{
    display:inline-block
}
.site-footer .social-icons
{
    text-align:right
}
.site-footer .social-icons a
{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
}
.copyright-text
{
    margin:0
}

.social-icons
{
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.social-icons li
{
    display:inline-block;
    margin-bottom:4px
}
.social-icons li.title
{
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
}
.social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
    color:#fff;
    background-color:#29aafe
}
.social-icons.size-sm a
{
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
}
.social-icons a.facebook:hover
{
    background-color:#3b5998
}
.social-icons a.twitter:hover
{
    background-color:#00aced
}
.social-icons a.linkedin:hover
{
    background-color:#007bb6
}
.social-icons a.dribbble:hover
{
    background-color:#ea4c89
}

header {
    position: relative;
    width: 100vw;
    height: 60px;
    /*padding: 10px;
    box-sizing: border-box;*/
}
header>nav {
    height: fit-content;
    position: absolute;
    right: 50px;
    top: 0;
    bottom: 0;
    margin: auto;
}

header>nav>ul {
    padding: 0;
    margin: 0;
}

header>nav>ul>li {
    display: inline-block;
    margin-right: 70px;
}
h1{
    font-size: 80px;
}
#main{
    position: absolute;
    top: 110px;
    right: 0;
}
body{
    position: relative;
}

/*////////////////////////////////////////////////////////////////////*/
#mywork{
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    position: relative;
    display: flex;
    background-color: #eceeef;
}
#myworkfont{
    position: absolute;
    top: 50px;
    left: 50px;

}
#myworkfont>h1{
    color: #000000;
    font-family:  "Montserrat", sans-serif;
    font-size: 200px;
    margin: 0;
}
#leftsideofmywork{
    width: 35%;
    position: absolute;
    top: 480px;
    left: 50px;
}
#leftsideofmywork>p{
    font-size: 20px;
}
#rightside>img{
    width: 40vw;
    height: 80%;
    border-radius: 0;
    background: blue;
    position: absolute;
    top: 100px;
    right: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
/opacity: 80%;/
}
#myworksimage{
    position: absolute;
    top: 900px;
    left: 0;
}
#myworknav{
    position: absolute;
    top: 900px;
    left: 50px;
}

/*////////////////////card///////////////////////*/

.cards-list {

    position: relative;
    top: 850px;

    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}

.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}

@media all and (max-width: 500px) {
    .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}
#card1{
    height: 400px;
    width: 400px;
}
#card5{
    position: absolute;
    top: 440px;
    left: 22px;

    height: 400px;
    width: 400px;


}

#card6{
    position: absolute;
    top: 320px;
    left: 450px;

    height: 550px;
    width: 400px;


}
#card7{
    position: absolute;
    top: 335px;
    left: 870px;

    height: 250px;
    width: 570px;


}
#card8{
    position: absolute;
    top: 620px;
    left: 870px;

    height: 250px;
    width: 570px;


}



/*
.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}
*/

/*//////////////////////////////////////////*/

#assignment{
    position: relative;

    top: 1000px;
    left: 0;
}

#assignment{
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    position: relative;
    display: flex;
    /*background-color: #eceeef;*/
}
#assignmentfont{
    position: absolute;
    top: 50px;
    left: 50px;

}
#assignmentfont>h1{
    color: #000000;
    font-family:  "Montserrat", sans-serif;
    font-size: 100px;
    margin: 0;
}
#leftsideofassignment{
    width: 35%;
    position: absolute;
    top: 300px;
    left: 50px;
}
#leftsideofassignment>p{
    font-size: 20px;
}
#rightsideofassignment>img{
    width: 40vw;
    height: 80%;
    border-radius: 0;
    background: blue;
    position: absolute;
    top: 100px;
    right: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
/opacity: 80%;/
}
/*/////////////////assignment card//////////////////////*/

.cards-list {

    position: relative;
    top: 850px;

    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}

.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}

@media all and (max-width: 500px) {
    .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}
/*#card1{*/
/*    height: 400px;*/
/*    width: 200px;*/
/*}*/






/*//////////////////////////gallery////////////////////////*/

#gallery{

    position: relative;

    top: 1400px;
    left: 0;

}

#gallery{
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    position: relative;
    display: flex;

}
#galleryfont{
    position: absolute;
    top: 50px;
    left: 50px;

}
#galleryfont>h1{
    color: #000000;
    font-family:  "Montserrat", sans-serif;
    font-size: 100px;
    margin: 0;
}
#leftsideofgallery{
    width: 95%;
    position: absolute;
    top: 170px;
    left: 50px;
}
#leftsideofgallery>p{
    font-size: 20px;
}

/*/////galleryimages///*/

/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 77).

The 'supports' rule will only run if your browser supports CSS grid.

Flexbox is used as a fallback so that browsers which don't support grid will still recieve an identical layout.

*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

:root {
    /* Base font size */
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    /*background-color: #fafafa;*/
}

.container {
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 2rem 2rem;
}

.heading {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    padding: 3.5rem 0;
    color: #1a1a1a;
}

.heading span {
    display: block;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    /* Compensate for excess margin on outer gallery flex items */
    margin: -1rem -1rem;
}

.gallery-item {
    /* Minimum width of 24rem and grow to fit available space */
    flex: 1 0 24rem;
    /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
    margin: 1rem;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms ease-out;
}

.gallery-image:hover {
    transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling.

*/

@supports (display: grid) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
        grid-gap: 2rem;
    }

    .gallery,
    .gallery-item {
        margin: 0;
    }
}

#galleryimage{
    position: relative;
    top: 300px;
    left: 0px;
}



/*/////////////////////contact//////////////////////////////*/

#contact{
    position: relative;

    top: 2500px;
    left: 0;
}

/*/////////////////footer/////////////////*/

#footer{
    position: relative;

    top: 3000px;
    left: 0;

}