
/*//////////////////////header///////////////////////////////////////////////////////////*/
body{
    overflow-x: hidden;
}
header {
    position: relative;
    width: 100%;
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
}
/*header>nav {*/
/*    height: fit-content;*/

/*    position: absolute;*/
/*    right: 50px;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    margin: auto;*/

/*}*/

#mainnav {
    position: absolute;
    justify-content: space-between;

    /*top: 50%;*/
    /*left: 0%;*/
    /*margin: auto;*/

    top: 50px;
    right: 30px;
}

header>nav>ul {
    padding: 0;
    margin: 0;
    font-size: medium;



}

header>nav>ul>a {
    display: inline;
    margin-right: 70px;



}

#home{
    position: relative;
    top: -20px;
    display: revert;
    justify-content: space-between;
}
h1{
    font-size: 100px;

}

#aboutbody{
    position: relative;

    top: -80px;
    width: 50%;
    font-size: medium;
    word-spacing: 8px;
    line-height: 23px;

}

#main{

   position: absolute;
    top: 150px;
    right: 40px;
}

/*ipadpro*/
@media only screen and (min-width: 1300px) and (max-width: 1366px) {

    #home{
        background-color: black;
    }

    #abc {
        width: 250px;
    }

    #mainnav {
        font-size: 100px;
        margin-right: 100px;
    }


    }

/*ipad mini*/
@media only screen and (min-width: 900px) and (max-width: 1024px) {

    #home{
        background-color: lightyellow;
    }



    #mainnav {
        font-size: 100px;
        margin-right: 100px;
    }



    #mainname{
        position: relative;

        top: 600px;
        left: 100px;
    }
    #abc{
        width: 550px;

        position: relative;
        right: 150px;

    }
    #aboutbody{
        width: 80%;
    }

}

/*iphone 14 pro max*/
@media only screen and (min-width: 900px) and (max-width: 932px) {

    #home{
        background-color: lightblue;
    }

    #abc {
        width: 550px;

        position: relative;
        top: -20px;
        right: 120px;
    }

    #mainnav {
        font-size: 100px;
        margin-right: 100px;
    }

    #navhome {
    }

    #mainname{
        position: relative;

        top: 600px;
        right: -60px;

    }
    #aboutbody{
        width: 85%;
    }

}

/*iphone se*/
@media only screen and (min-width: 600px) and (max-width: 667px) {

    #home{
        background-color: lightgreen;
    }

    #abc {
        width: 390px;
    }

    #mainnav {
        font-size: 100px;
        margin-right: -50px;

    }

   #mainname>h1{
       font-size: 70px;
       position: relative;

       top: 400px;
       left: 35px;
   }
   #main{
      position: relative;

       top: -650px;
       left: 110px;
   }
   #aboutbody{
       width: 80%;
       position: relative;
       top: 350px;
       left: 40px;
   }
   #mainname>#seemore{
       position: relative;
       top: 350px;
       left: 40px;
   }

}

/*}*/
/*////////////////////////////////////////////////////////////////////button///////seemore/*/

/*html, body {*/
/*    display: grid;*/
/*    height: 100%;*/
/*}*/
#seemore{
    position: relative;
    top: -60px;
    /*left: 0;*/
}
#seemore>a {
    border: 4px solid #3F3F3F;
    color: #3F3F3F;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin: auto;
    padding: 12px 32px 12px 82px;
    position: relative;
    text-decoration: none;
}

a .label,
a .icon-arrow {
    backface-visibility: hidden;
    transform: translateZ(0);
    perspective: 1000px;
}

a .label {
    display: inline-block;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

a .icon-arrow {
    fill: #3F3F3F;
    height: 15px;
    top: 17px;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1), opacity .4s cubic-bezier(0.86, 0, 0.07, 1);
    width: 35px;
}

a .icon-arrow.before {
    left: 32px;
    margin-right: 15px;
    position: absolute;
    transform-origin: left center;
}

a .icon-arrow.after {
    margin-left: 15px;
    opacity: 0;
    position: absolute;
    right: 32px;
    transform: translateX(75%) scaleX(0.1);
    transform-origin: right center;
}

a:hover .label {
    transform: translateX(-52px);
}

a:hover .icon-arrow.before {
    opacity: 0;
    transform: translateX(-75%) scaleX(0.1);
}

a:hover .icon-arrow.after {
    opacity: 1;
    transform: translateX(0) scaleX(1);
}

a:active {
    border-color: #FD6154;
    color: #FD6154;
}

a:active .icon-arrow {
    fill: #FD6154;
}




/*////////////////////////////mywork///////////////////////////////////////////////////////////////*/
#mywork{
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    position: relative;

    top: 30px;
    display: flex;
    background-color: #eceeef;
}
#myworkfont{
    position: absolute;
    top: 50px;
    left: 50px;

}
#myworkfont>h1{
    color: #000000;
    font-family:  "Montserrat", sans-serif;
    font-size: 200px;
    margin: 0;
}
#leftsideofmywork{
    width: 35%;
    position: absolute;
    top: 480px;
    left: 50px;
}
#leftsideofmywork>p{
    font-size: 20px;
}
#rightside>img{
    width: 40vw;
    height: 80%;
    border-radius: 0;
    background: blue;
    position: absolute;
    top: 100px;
    right: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
/opacity: 80%;/
}
#myworksimage{
    position: absolute;
    top: 900px;
    left: 0;
}
#myworknav{
    position: absolute;
    top: 900px;
    left: 50px;
}

/*////////////////////card///////////////////////*/

#card1font{
    color: #26272b;
}

.cards-list {

    position: relative;
    top: 850px;

    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}

.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}

@media all and (max-width: 500px) {
    .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}
#card1{
    height: 360px;
    width: 360px;

    position: relative;
    left: 30px;
}

#card2{
    position: relative;
    left: 40px;
}

#card3{
    position: relative;
    left: 20px;
}

#card5{
    position: absolute;
    top: 440px;
    left: 22px;

    height: 400px;
    width: 400px;


}

#card6{
    position: absolute;
    top: 320px;
    left: 450px;

    height: 550px;
    width: 400px;


}
#card7{
    position: absolute;
    top: 335px;
    left: 870px;

    height: 250px;
    width: 570px;


}
#card8{
    position: absolute;
    top: 620px;
    left: 870px;

    height: 250px;
    width: 570px;


}



/*
.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}
*/


/*iphone 14 pro max*/
@media only screen and (min-width: 900px) and (max-width: 932px) {

#mywork{
    position: relative;
    top: 600px;
}
    #myworkfont{
        position: relative;
        top: 90px;
    }
    #myworkfont>h1{
        font-size: 150px;
        line-height: 120px;
    }
    #leftsideofmywork{
        position: relative;
        top: 240px;
        left: -320px;

    }
    #leftsideofmywork>p{
        width: 250%;
        position: relative;
        top: -70px;
    }
    #rightside{
        position: relative;
        left: 370px;
        top: -50px;
    }


    #card1{
        position: relative;

        top: -150px;
        left: -300px;
    }
    #card2{
        height: 360px;
        width: 360px;

        position: relative;
        top: -150px;
        left: -400px;

    }
    #card3{
        height: 360px;
        width: 360px;

        position: relative;
        top: -150px;
        left: -500px;
    }
    #card4{
        height: 360px;
        width: 360px;

        position: absolute;
        top: 260px;
        left: -80px;

    }
    #card5{
        height: 360px;
        width: 360px;

        position: relative;

        top: -1400px;
        left: -80px;

    }
    #card6{
        height: 360px;
        width: 360px;

        position: relative;

        top: -1000px;
        left: -100px;
    }
    #card7{
        height: 360px;
        width: 360px;

        position: relative;


        top: -1000px;
        left: -500px;


    }
    #card8{
        height: 360px;
        width: 360px;

        position: relative;

        top: -1400px;
        left: -100px;

    }

}

/*ipad mini*/
@media only screen and (min-width: 900px) and (max-width: 1024px) {

    #mywork{
        position: relative;

        top: 600px;
    }
    #myworkfont>h1{
        font-size: 150px;
        position: relative;
        top: -60px;
    }
    #leftsideofmywork{
        width: 90%;

        position: relative;

        top: 350px;

    }

    #card1{
        position: relative;

        top: -150px;
        left: -490px;
    }
    #card2{
        height: 360px;
        width: 360px;

        position: relative;
        top: -150px;
        left: -490px;

    }
    #card3{
        height: 360px;
        width: 360px;

        position: relative;
        top: -150px;
        left: -490px;
    }
    #card4{
        height: 360px;
        width: 360px;

        position: absolute;
        top: 260px;
        left: -50px;

    }
    #card5{
        height: 360px;
        width: 360px;

        position: relative;

        top: -1400px;
        left: -50px;

    }
    #card6{
        height: 360px;
        width: 360px;

        position: relative;

        top: -1000px;
        left: -60px;
    }
    #card7{
        height: 360px;
        width: 360px;

        position: relative;


        top: -1000px;
        left: -490px;


    }
    #card8{
        height: 360px;
        width: 360px;

        position: relative;

        top: -1410px;
        left: -80px;

    }

}

/*iphone se*/
@media only screen and (min-width: 600px) and (max-width: 667px) {

    #mywork{
        height: 800px;
        position: relative;
        top: 10px;
    }

    #myworkfont>h1{
        font-size: 100px;
        position: relative;
        top: -60px;
    }
    #leftsideofmywork{
        width: 90%;

        position: relative;

        top: 220px;

    }
    #card1{

        height: 250px;
        width: 250px;
        position: relative;

        top: -50px;
        left: -300px;
    }
    #card2{
        height: 250px;
        width: 250px;

        position: relative;
        top: -50px;
        left: -300px;

    }
    #card3{
        height: 250px;
        width: 250px;

        position: relative;
        top: -50px;
        left: -300px;
    }
    #card4{
        height: 250px;
        width: 250px;

        position: absolute;
        top: 260px;
        left: 10px;

    }
    #card5{
        height: 250px;
        width: 250px;

        position: relative;

        top: -980px;
        left: -20px;

    }
    #card6{
        height: 250px;
        width: 250px;

        position: relative;

        top: -670px;
        left: -30px;
    }
    #card7{
        height: 250px;
        width: 250px;

        position: relative;


        top: -670px;
        left: -300px;


    }
    #card8{
        height: 250px;
        width: 250px;

        position: relative;

        top: -980px;
        left: -30px;

    }

}



/*//////////////////////////assignment///////////////////////////////////////////////////*/

#leftsideofassignment>p{
    width: 130%;
    word-spacing: 15px;
    line-height: 30px;

    position: relative;
    top: -100px;
}

#assignment{
    position: relative;

    top: 1000px;
    left: 0;
}

#assignment{
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    position: relative;
    display: flex;
    /*background-color: #eceeef;*/
}
#assignmentfont{
    position: absolute;
    top: 50px;
    left: 50px;

}
#assignmentfont>h1{
    color: #000000;
    font-family:  "Montserrat", sans-serif;
    font-size: 100px;
    margin: 0;
}
#leftsideofassignment{
    width: 35%;
    position: absolute;
    top: 300px;
    left: 50px;
}
#leftsideofassignment>p{
    font-size: 20px;
}
#rightsideofassignment>img{
    width: 40vw;
    height: 80%;
    border-radius: 0;
    background: blue;
    position: absolute;
    top: 100px;
    right: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
/opacity: 80%;/
}
/*/////////////////assignment card/////////////////////////////////////////*/

#assin01{
    color: black;
}
#assin02{
    color: black;
}

.cards-list {

    position: relative;
    top: 850px;

    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}

.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}

@media all and (max-width: 500px) {
    .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}
/*#card1{*/
/*    height: 400px;*/
/*    width: 200px;*/
/*}*/

/*iphone 14 pro max*/
@media only screen and (min-width: 900px) and (max-width: 932px) {
#assignment{
    position: relative;

    top: 2300px;
}
#rightsideofassignment{

    position: relative;
    left: 590px;
    top: 130px;
}
#a1{
    position: relative;
    top: 550px;
    left: 100px;
}
#a2{
    position: relative;
    top: 550px;
    left: 150px;
}
#a3{
    position: relative;
    top: 900px;
    right: 550px;
}
    #a4{
        position: relative;
        top: 850px;
        left: 150px;
    }

}

/*ipad mini*/
@media only screen and (min-width: 900px) and (max-width: 1024px) {

    #assignment{
        position: relative;

        top: 2310px;
    }
    #leftsideofassignment{
        position: relative;
        top: 250px;
        width: 60%;
    }
    #rightsideofassignment{
        position: relative;

        top: 130px;
        right: -650px;

    }
    #a1{
        position: relative;
        top: 70px;
        left: -250px;
    }
    #a2{
        position: relative;
        top: 70px;
        left: -170px;
    }
    #a3{
        position: relative;
        top: 70px;
        right: 250px;
    }
    #a4{
        position: relative;
        top: 70px;
        right: 170px;
    }
}

/*iphone se*/
@media only screen and (min-width: 600px) and (max-width: 667px){

    #assignment{
        position: relative;

        top: 1300px;
    }

}




/*//////////////////////////gallery//////////////////////////////////*/

#gallery{

    position: relative;

    top: 1400px;
    left: 0;

}

#gallery{
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    position: relative;
    display: flex;

}
#galleryfont{
    position: absolute;
    top: 50px;
    left: 50px;

}
#galleryfont>h1{
    color: #000000;
    font-family:  "Montserrat", sans-serif;
    font-size: 100px;
    margin: 0;
}
#leftsideofgallery{
    width: 95%;
    position: absolute;
    top: 170px;
    left: 50px;
}
#leftsideofgallery>p{
    font-size: 20px;
}

/*/////galleryimages///////////////////////////////*/



@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-family: "Figtree", sans-serif;*/
/*}*/

#galleryimage{
    position: relative;
    top: 400px;
    left: 300px;
}

#galleryimage>body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    background: #000;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
    width: 800px;
    height: 500px;
    transition: all 400ms;
}

.container:hover .box {
    filter: grayscale(100%) opacity(24%);
}

.box {
    position: relative;
    background: var(--img) center center;
    background-size: cover;
    transition: all 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box:hover {
    filter: grayscale(0%) opacity(100%);
}

.container:has(.box-1:hover) {
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
}

.container:has(.box-2:hover) {
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}

.container:has(.box-3:hover) {
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
}

.container:has(.box-4:hover) {
    grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
}

.container:has(.box-5:hover) {
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
}

.box:nth-child(odd) {
    transform: translateY(-16px);
}

.box:nth-child(even) {
    transform: translateY(16px);
}

.box::after {
    content: attr(data-text);
    position: absolute;
    bottom: 20px;
    background: #000;
    color: #fff;
    padding: 10px 10px 10px 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    transform: translateY(60px);
    opacity: 0;
    transition: all 400ms;
}

.box:hover::after {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 400ms;
}

#img01{
    width: 220px;
    height: 500px;
}

/*iphone 14 pro max*/
@media only screen and (min-width: 900px) and (max-width: 932px) {

    #gallery{
        position: relative;
        top: 3400px;
    }
    #leftsideofgallery>p{
        width: 810px;
    }
    #galleryimage{
        position: relative;
        left: 50px;
    }
}

/*ipad mini*/
@media only screen and (min-width: 900px) and (max-width: 1024px) {

    #gallery{
        position: relative;

        top: 3300px;
    }
    #leftsideofgallery{
        width: 90%;
    }
    #galleryimage{
        position: relative;
        left: 80px;
    }
}

/*/////////////////////contact////////////////////////////////////////////////*/

#contact{
    position: relative;

    top: 1500px;
    left: 0;
}

#contact{
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    position: relative;
    display: flex;

}
#contactfont{
    position: absolute;
    top: 50px;
    left: 50px;

}
#contactfont>h1{
    color: #000000;
    font-family:  "Montserrat", sans-serif;
    font-size: 100px;
    margin: 0;
}
#leftsideofcontact{
    width: 35%;
    position: absolute;
    top: 480px;
    left: 50px;
}
#leftsideofcontact>p{
    font-size: 20px;
}
#rightsideofcontact>img{
    width: 40vw;
    height: 80%;
    border-radius: 0;
    background: blue;
    position: absolute;
    top: 100px;
    right: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
/opacity: 80%;/
}

#leftsideofcontact>p{
    word-spacing: 15px;
    line-height: 30px;
    width: 130%;

    position: relative;
   top: -300px;
}


/*////////////////*/

#contactdetails{

    position: relative;
    top: 900px;
    left: 50px;

}
#contactdetails>h4{
    font-size: 25px;

}

/*//////////social media icon/////////*/

/*body {*/
/*    background-color: #d8d8d8;*/
/*}*/

/*}*/
.social-menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #cd201f;
}
.social-menu ul li:nth-child(5) a:hover {
    background-color: #0077B5;
}

#social{
    position: relative;
    top: 60px;
    left: -100px;
}
/*///////////////email send//////*/

#emailfont{
    font-size: 25px;
}

#emailsend{
    position: relative;
    top: 200px;
}
#emailsend>body {
    margin-top: 40px;
}

label {
    float: left;
    text-align: right;
    width: 100px;
    margin-right: 15px;
    padding-top: 5px;
    font: 13px 'Open Sans', sans-serif;
    color: #666;
}

input, textarea {
    border: 1px solid #CCC;
    padding: 6px 4px;
    outline: 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: 13px "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #777;
    margin: 0;
    width: 210px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
}

input:focus, textarea:focus {
    border: 1px solid #AAA;
    color: #444;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

textarea {
    width: 400px;
    height: 100px;
}

input[type="submit"] {
    float: none;
    font-size: 14px;
    font-weight: bold;
    color: #414141;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 8px 10px;
    cursor: pointer;
    background: #FFF;
    background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(100%,#F5F5F5));
    background: -webkit-linear-gradient(top, #FFF 0%,#F5F5F5 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f5f5f5 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f5f5f5 100%);
    background: linear-gradient(top, #ffffff 0%,#f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 );
    border: 1px solid #BDBFC0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 105px;
    margin-left: 115px;
}

input[type="submit"]:hover {
    border-color: #AAA;
    background: #FFF;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

/*iphone 14 pro max*/
@media only screen and (min-width: 900px) and (max-width: 932px) {

   #contact{
       position: relative;
       top: 3700px;
   }

    #contactdetails{
        position: relative;

        top: 1350px;

    }
    /*#emailsend{*/
    /*    position: relative;*/
    /*    top: 700px;*/
    /*}*/
}
/*ipad mini*/
@media only screen and (min-width: 900px) and (max-width: 1024px) {
    #contact{
        position: relative;

        top: 3600px;
    }
    #contactdetails{
        position: relative;

        top: 1350px;

    }
    #rightsideofcontact{
        position: relative;
        top: 200px;
        left: 950px;
    }
}


/*/////////////////footer//////////////////////////////////////////////////////////////////////!**/
.site-footer
{
    width: 100vw;
    background-color:#26272b;
    /*padding:45px 0 20px;*/
    font-size:15px;
    line-height:24px;
    color:#737373;
}
.site-footer hr
{
    border-top-color:#bbb;
    opacity:0.5
}
.site-footer hr.small
{
    margin:20px 0
}
.site-footer h6
{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}
.site-footer a
{
    color:#737373;
}
.site-footer a:hover
{
    color:#3366cc;
    text-decoration:none;
}
.footer-links
{
    padding-left:0;
    list-style:none
}
.footer-links li
{
    display:block
}
.footer-links a
{
    color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
    color:#3366cc;
    text-decoration:none;
}
.footer-links.inline li
{
    display:inline-block
}
.site-footer .social-icons
{
    text-align:right
}
.site-footer .social-icons a
{
    width:40px;
    height:40px;
    line-height:40px;
    /*margin-left:6px;*/
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
}
.copyright-text
{
    margin:0
}
@media (max-width:991px)
{
    .site-footer [class^=col-]
    {
        margin-bottom:30px
    }
}
@media (max-width:767px)
{
    .site-footer
    {
        padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
        text-align:center
    }
}
.social-icons
{
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.social-icons li
{
    display:inline-block;
    margin-bottom:4px
}
.social-icons li.title
{
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
}
.social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
    color:#fff;
    background-color:#29aafe
}
.social-icons.size-sm a
{
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
}
.social-icons a.facebook:hover
{
    background-color:#3b5998
}
.social-icons a.twitter:hover
{
    background-color:#00aced
}
.social-icons a.linkedin:hover
{
    background-color:#007bb6
}
.social-icons a.dribbble:hover
{
    background-color:#ea4c89
}
@media (max-width:767px)
{
    .social-icons li.title
    {
        display:block;
        margin-right:0;
        font-weight:600
    }
}
#footer{
    position: relative;
    top: 2700px;
}

/*iphone 14 pro max*/
@media only screen and (min-width: 900px) and (max-width: 932px) {
    #footer{
        position: relative;

        top: 5250px;
    }

}

/*ipad mini*/
@media only screen and (min-width: 900px) and (max-width: 1024px) {

    #footer{
        position: relative;

        top: 5100px;
    }


}

